NODE_ENV=
CLIENT_URL=
SERVER_URL=
# SERVER_URL='https://api.photodey.com'
PORT=3000
DATABASE_URL=
REDIS_URL=
QDRANT_URL=
QDRANT_API_KEY=
ACCESS_TOKEN_SECRET=
AI_URL = 
GMAIL_USER =
GMAIL_APP_PASSWORD =
MASTER_ACCESS_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
AI_WEBHOOK_SECRET=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=photodeybot
